*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d9ff;
}
.qr-container {
    border: .5px solid black;
    border-radius: 10px;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vw;
    gap: 2vh;
    background-color: #fff;
    transition: all ease .3s;
}
.qr-container:hover {
    box-shadow: 3px 2px 20px black;
    transform: translateY(-2px);
}
#qr-input ,#btn {
    height: 5vh;
    border-radius: 5px;
    padding: .5vw;
}
#btn {
    background-color: #64e8ff;
    border: none;
    color: black;
    transition: all 0.5s linear;
}
#btn:active {
    transform: translateY(5px);
}
#img {
    width: 10vw;
    display: block;
    margin: 0 auto;
}
